.searchBox {
  width: 80%;
  margin: auto;
  padding: 10px;
  margin-top: 1rem;
  background-color: darkslateblue;
  display: flex;
}

.searchBox .searchBoxInput {
  width: 80%;
  padding: 10px;
  outline: none;
}

.searchBox .searchBoxBtn {
  background-color: darkslateblue;
  padding: 10px;
  color: white;
  width: 20%;
  border: 2px solid darkslateblue;
  
}

.main__content {
  width: 100%;
  margin: auto;
  margin-top: 10%;
  gap: 10%;

}

.mainContent .mainContentGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;
}

.mainContent .mainContentGrid img {
  width: 100%;
  max-width: 90%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center center;
}

.title {
  text-align: center;
  background-color: darkslateblue;
  padding: 10px;
  color: white;
  width: 100%;
  border: 2px solid darkslateblue;
  font-weight: bolder;
}